.sign-in-container {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  // width: 380px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
=======
    display: flex;
    flex-direction: column;
    width: 380px;
  
    h2 {
      margin: 10px 0;
    }

       .buttons-container {
      display: flex;
      justify-content: space-between;
    }
  }
>>>>>>> 96cc9a6d24c1dca6338699b3e08a658d37aa7a2d
